[Unit]
Description=Puma application server for Redmine

[Service]
Type=simple
User={{ redmine_rvm_user }}
WorkingDirectory={{ redmine_path }}/redmine-{{ redmine_version }}
ExecStart=/usr/share/rvm/bin/rvm-exec {{ redmine_rvm_ruby_version }} puma -C {{ redmine_path }}/redmine-{{ redmine_version }}/config/puma.rb
ExecStop=/usr/share/rvm/bin/rvm-exec {{ redmine_rvm_ruby_version }} pumactl -S {{ redmine_path }}/redmine-{{ redmine_version }}/pids/puma.state stop
Restart=always
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target