upstream app {
    server unix://{{ redmine_path }}/redmine-{{ redmine_version }}/tmp/sockets/puma.sock;
}

server {
    listen 80;
    server_name _;

    root "{{ redmine_path }}/redmine-{{ redmine_version }}/public";
    
    try_files $uri @app;
    
    location @app {
        proxy_pass http://app;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }

    error_page   500 502 503 504  /500.html;
    
    # log files
    access_log /var/log/nginx/redmine_production.access.log;
    error_log /var/log/nginx/redmine_production.error.log;
    
    client_max_body_size 4G;
    keepalive_timeout 10;
}